.io-port-color-images {
    background-color: #ec4899;
}

.io-port-color-boxes {
    background-color: #8908df;
}

.io-port-color-labels {
    background-color: #0093d1;
}

.params-port-color {
    background-color: #01ac57;
}