/*节点标题颜色*/
/* .node-header.request,
.node-header.response {
    justify-content: center;
}
.node-color.request,
.node-color.response {
    background-color: hsl(0, 60%, 30%) !important;
}
.io-label.request,
.io-label.response {
    color: #fff !important;
} */
/* 输入输出类型端口样式 */
.io-port {
    background-color: #fff !important;
}

.io-port.input,
.io-port.output {
    background-color: hsl(0, 90%, 60%) !important;
}

.io-port.images {
    background-color: hsl(300, 90%, 60%) !important;
}

.io-port.matches,
.io-port.pred,
.io-port.features,
.io-port.labels,
.io-port.paths,
.io-port.boxes,
.io-port.count,
.io-port.object {
    background-color: hsl(175, 90%, 60%) !important;
}

/* 参数端口样式 */
.io-port.filename,
.io-port.value,
.params-port {
    background-color: hsl(150, 90%, 60%) !important;
}

/*指定特定参数的样式可以在params-port类名后添加参数名,用_连接所有父子参数名*/
/* .params-port.filename {
    background-color: #1966ff !important;
}

.params-port.model_params_topk {
    background-color: #ffa20c !important;
} */