
/*节点标题颜色*/
.node-header.start,
.node-header.end {
    justify-content: center;
}
.node-color.start,
.node-color.end {
    background-color: hsl(0, 60%, 30%) !important;
}
.io-label.start,
.io-label.end {
    color: #fff !important;
}
/* 输入输出类型端口样式 */
.io-port {
    background-color: #fff !important;
}

.io-port.input,
.io-port.output {
    background-color: hsl(0, 90%, 60%) !important;
}

.io-port.images {
    background-color: hsl(300, 90%, 60%) !important;
}

.io-port.boxes {
    background-color: hsl(275, 90%, 60%) !important;
}

.io-port.labels {
    background-color: hsl(250, 90%, 60%) !important;
}

.io-port.files {
    background-color: hsl(225, 90%, 60%) !important;    
}

.io-port.count {
    background-color: hsl(200, 90%, 60%) !important;
}

/* 参数端口样式 */
.io-port.value,
.params-port {
    background-color: hsl(150, 90%, 60%) !important;
}

/*指定特定参数的样式可以在params-port类名后添加参数名,用_连接所有父子参数名*/
/* .params-port.filename {
    background-color: #1966ff !important;
}

.params-port.model_params_topk {
    background-color: #ffa20c !important;
} */