<div v-if="modelPage ==='model_list'">
    <div class="page-header">
        <h2 class="page-header h2">模型空间</h2>
        <el-button type="primary" plain
            @click="() => { if(this.$refs.newModelForm) this.$refs.newModelForm.resetFields(); moduleDescription='';pretrainedDescription='';newModelDialogVisible = true; }">创建模型</el-button>
    </div>

    <el-row :gutter="20">
        <el-col :span="24">
            <el-card class="model-card" v-for="(model, index) in models" :key="index" @click="modelTrain(model.id)">
                <div class="card-content">
                    <!-- 左侧内容 -->
                    <div class="left-section">
                        <div class="model-basic">
                            <h3 class="model-basic h3" v-text="model.name"></h3>
                            <el-tag type="info" effect="plain" style="font-size: 14px;"
                                v-text="model.pretrained"></el-tag>
                        </div>
                        <p class="model-desc" v-text="model.description"></p>
                        <div class="model-category">
                            <el-tag type="success" v-text="model.category"></el-tag>
                            <el-tag type="success" v-text="model.module_name"></el-tag>
                        </div>
                    </div>
                    <!-- 右侧内容 -->
                    <div class="right-section">
                        <p class="fine-tune-time" v-text="model.fine_tune_time"></p>
                        <div class="model-status">
                            <el-tag
                                :type="model.status === '成功' ? 'success' : model.status === '训练中' ? 'primary' : model.status === '失败' ? 'danger': 'info'"
                                v-text="model.status"></el-tag>
                        </div>
                        <div class="info-actions" style="margin-top: 8px;">
                            <el-button type="text" @click.stop="handleModelDelete(model.id)">删除</el-button>
                        </div>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
{% include 'components/model-detail.html' %}
{% include 'components/model-create.html' %}