<div v-if="modelPage ==='model_detail'">
    <div class="page-header">
        <div class="page-header-info">
            <h2 class="page-header h2" v-text="currentModel.name"></h2>
            <el-tag type="info" effect="plain" style="font-size: 14px;" v-text="currentModel.pretrained"></el-tag>
            <el-tag type="success" v-text="currentModel.category"></el-tag>
            <el-tag type="success" v-text="currentModel.module_name"></el-tag>
        </div>
        <el-button type="primary" plain @click="modelPage = 'model_list'">返回</el-button>
    </div>
    <p class="model-desc" v-text="currentModel.description"></p>
    <br>
    <el-steps style="max-width: 900px; margin: 0 auto;" :space="300"
        :active="currentModel.status === '未开始' ? 0 : (['未训练', '训练中'].includes(currentModel.status) ? 1 : 2)"
        align-center finish-status="success">
        <el-step title="选择数据集"></el-step>
        <el-step title="训练"></el-step>
        <el-step :title="currentModel.status === '成功' ?'成功':currentModel.status === '失败'?'失败':'完成'"
            :status="currentModel.status === '成功' ?'success':currentModel.status === '失败'?'error':''"></el-step>
    </el-steps>

    <!-- 数据集选择 -->
    <div style="align-items: center;text-align: center;">
        <br>
        <el-button type="primary" @click="datasetCheck.showDatasetDialog = true"
            :disabled="datasetCheck.checkingDataset">选择训练数据集</el-button>
        <div style="display: flex;margin:0 auto;margin-top: 10px;gap: 20px;align-items: center;"
            v-if="currentModel.dataset_id">
            已选数据集：<el-text v-text="currentModel.dataset_name"></el-text>
            <el-button type="primary" @click="handleCheckDataset"
                :disabled="datasetCheck.checkingDataset">检查数据集</el-button>
        </div>
        <div v-show="datasetCheck.showCheckResult" style="margin-top: 20px;">
            <el-card>
                <h3>检查状态：<el-tag :type="datasetCheck.checkPass ? 'success' : 'danger'"
                        v-text="datasetCheck.checkPass ? '通过' : '未通过'">
                    </el-tag></h3>
                <div v-show="!datasetCheck.checkPass">
                    <el-input v-if="!datasetCheck.checkPass" v-model="datasetCheck.checkLog" style="width: 100%;"
                        :rows="20" type="textarea" placeholder="检查日志内容将显示在此处" />
                </div>

                <div v-if="datasetCheck.checkResult" v-show="datasetCheck.checkPass">
                    <el-row :gutter="20" style="height: 600px;">
                        <!-- 左边图片区域 -->
                        <el-col :span="16" style="display: flex; flex-direction: column; border-right: 1px solid #eee;">
                            <div style="flex: 1; padding-bottom: 10px;">
                                <h4>训练集信息</h4>
                                <p>样本数量：<el-text v-text="datasetCheck.checkResult.attributes.train_samples"></el-text>
                                </p>
                                <div class="image-grid">
                                    <el-image v-for="path in datasetCheck.checkResult.attributes.train_sample_paths"
                                        :key="path" :src="path" style="width: 100px; height: 100px; margin: 5px"
                                        fit="cover"></el-image>
                                </div>
                            </div>
                            <div style="flex: 1; padding-top: 10px;">
                                <h4>验证集信息</h4>
                                <p>样本数量：<el-text v-text="datasetCheck.checkResult.attributes.val_samples"></el-text>
                                </p>
                                <div class="image-grid">
                                    <el-image v-for="path in datasetCheck.checkResult.attributes.val_sample_paths"
                                        :key="path" :src="path" style="width: 100px; height: 100px; margin: 5px"
                                        fit="cover"></el-image>
                                </div>
                            </div>
                        </el-col>
                        <!-- 右边统计图区域 -->
                        <el-col :span="8" style="display: flex; align-items: center; justify-content: center;">
                            <div style="width: 100%;">
                                <h4>数据分布统计图</h4>
                                <el-image :src="datasetCheck.checkResult.analysis.histogram" style="max-width: 100%;"
                                    fit="contain"></el-image>
                            </div>
                        </el-col>
                    </el-row>
                </div>

            </el-card>
        </div>
        <div style="position: fixed; bottom: 0; left: 0; right: 0; padding: 20px; background: #ffffff;">
            <el-button type="primary" @click="currentModel.status='未训练'"
                :disabled="!datasetCheck.checkPass">下一步</el-button>
        </div>
    </div>
    <el-dialog title="选择数据集" v-model="datasetCheck.showDatasetDialog" width="30%">
        <el-select v-model="currentModel.dataset_id" placeholder="请选择数据集" @change="handleDatasetChange">
            <el-option v-for="dataset in datasets" :key="dataset.id" :label="dataset.name"
                :value="dataset.id"></el-option>
        </el-select>
        <div slot="footer" class="dialog-footer">
            <el-button @click="datasetCheck.showDatasetDialog = false">取消</el-button>
            <el-button type="primary" @click="datasetCheck.showDatasetDialog = false">确定</el-button>
        </div>
    </el-dialog>


</div>