<!-- 创建模型对话框 -->
<el-dialog title="新建模型训练配置" v-model="newModelDialogVisible" width="50%">
    <el-form ref="newModelForm" :model="newModelFormData" :rules="formRules" label-width="120px">
        <div style="display: flex;gap: 20px;">
            <div style="flex: 1;">
                <el-form-item label="模型名称" prop="name" required>
                    <el-input v-model="newModelFormData.name"></el-input>
                </el-form-item>
                <el-form-item label="唯一标识" prop="id" required>
                    <el-input v-model="newModelFormData.id" placeholder="仅支持大小写字母、数字、-、_"
                        oninput="value=value.replace(/[^a-zA-Z0-9-_]/g,'')"></el-input>
                </el-form-item>
                <el-form-item label="模型描述" prop="description" required>
                    <el-input type="textarea" v-model="newModelFormData.description"></el-input>
                </el-form-item>
                <el-form-item label="类别" prop="category" required>
                    <el-select v-model="newModelFormData.category" placeholder="请选择类别" @change="handleCategoryChange">
                        <el-option v-for="cat in categoryOptions" :key="cat.category" :label="cat.category"
                            :value="cat.category"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="模块" prop="module_id" required>
                    <el-select v-model="newModelFormData.module_id" placeholder="请选择模块" @change="handleModuleChange">
                        <el-option v-for="mod in moduleOptions" :key="mod.name" :label="mod.name"
                            :value="mod.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="预训练模型" prop="pretrained" required>
                    <el-select v-model="newModelFormData.pretrained" placeholder="请选择预训练模型"
                        @change="handlePretrainedChange">
                        <el-option v-for="pretrained in pretrainedOptions" :key="pretrained.name"
                            :label="pretrained.name" :value="pretrained.name"></el-option>
                    </el-select>
                </el-form-item>
            </div>
            <div style="flex: 1; height: 100%;">
                <el-text tag="b">模块描述</el-text>
                <el-input type="textarea" v-model="moduleDescription" readonly :rows="6"></el-input>
                <el-text tag="b">预训练模型描述</el-text>
                <el-input type="textarea" v-model="pretrainedDescription" readonly :rows="6"></el-input>
            </div>
        </div>
    </el-form>

    <div slot="footer" class="dialog-footer">
        <el-button @click="newModelDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleModelSave">保存</el-button>
    </div>
</el-dialog>